@import (reference) "bootstrap/variables.less";
@import "monokai.less";

body
{
	background: #333;
	color: #fff;
}

header
{
	font-family: @font-family-header;
	width: 100%;

	.header-align-container
	{
		text-align: right;
		color: #333;
		color: rgba(255, 255, 255, 1.0);
		text-shadow: 1px 1px 4px #000;

		h1
		{
			margin-bottom: 0;
		}
		h3
		{
			font-size: 16px;
			margin-top: 0;
		}
	}
}
header.header-flex
{
	display: flex;
	justify-content: center;
}
header#banner
{
	text-align: center;
}

.uilink
{
	color: #fff;
}
.uilink:hover
{
	text-decoration: none;
	color: darken(#fff, 20%);
}

.container.main-container
{
	background: @main-section-bg;
	color: @text-color;
	padding: 20px;
}

nav#menu
{
	text-align: center;
}

nav#menu li
{
	font-family: @font-family-header;
	font-weight: bold;
	display: inline;
	padding: 20px;
	font-size: 16pt;
}

footer#contentinfo
{
	padding-top: 20px;
}

.email-obscure
{
	display: none;
}

.hentry header h2
{
	display: inline;
}

.hentry header h2 a:hover
{
	text-decoration: none;
}

header .published
{
	margin-left: 10px;
}

.entry-title
{
	margin: 0;
}

.vcard.author
{
	display: inline;
}

.entry-content
{
	padding-top: 10px;

	img
	{
		margin: auto;
		display: block;
	}
}